disnake==2.2.2
espnet==0.10.4
openai==0.11.4
Pillow==9.0.0
praw==7.5.0
PyDictionary==2.0.1
pyowm==3.2.0
requests==2.26.0
rich==10.16.2
SoundFile==0.10.3.post1
spotipy==2.19.0
youtube_search_python==1.5.3
yt_dlp==2021.12.1
